@import "../../../styles/variables.scss";

.card-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 190px;
  height: 254px;
  background: $primary-color;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;

  

  span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }

  .job {
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100px;
    padding-right: 5px;

    // Esconde a barra no Chrome (opcional)
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }

  .img {
    width: 70px;
    height: 80px;
    background: $secondary-color;
    border-radius: 15px;
    margin: 25px auto 0;
  }

  button {
    padding: 8px 25px;
    margin: 30px auto 0;
    border-radius: 8px;
    border: none;
    background: $secondary-color;
    color: white;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: lighten($secondary-color, 10%);
    }
  }
}
